/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #d8d8d8;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:0em;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:hover{
    -fx-cursor: default;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-shape: " ";	
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:#989fab;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
    -fx-cursor: hand;
}

.main_windows{
    -fx-background-color: #e6ebf5;
}
.vbox{
    -fx-border-color: transparent;
    -fx-background-color: #f1f5fd;
    -fx-padding: 10;
}

.error{
    -fx-fill: #FF6666;
    -fx-background-image: url(underline.gif);
    -fx-background-position: bottom;
    -fx-background-repeat: repeat-x;
}
.label{
    -fx-text-fill: whitesmoke;
    -fx-font-size: 11pt;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#445c65,20%);
}

.context-menu {
/*    -fx-background-color: derive(#445c65,50%);*/
    -fx-background-color: #383838;
    -fx-padding:0;
    -fx-text-fill: white;
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Light";
    
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-border-color: #d8d8d8;
    -fx-border-radius: 0;
    -fx-border-width: 2;
    -fx-background-insets: 0 0 0 0, 0, 1, 0;
    
}


.load_btn {
    -fx-padding: 5 22 5 22;
    -fx-background-radius: 0;
    -fx-background-color: #0A8199;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.load_btn:hover{
    -fx-background-color: #2e9db3;
    -fx-cursor: hand;
}
.area_controls{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0;
}
.area_controls:hover{
    -fx-background-color: #445c65;
    -fx-cursor: hand;
}
.area_controls *.text {
    -fx-text-alignment: center;
}
.info_lb{
    -fx-font-size: 12pt;
    -fx-text-fill: #89979d;
}

.combo-box .list-cell
 {
    -fx-font-family: arial;
    -fx-text-fill: whitesmoke; 
    -fx-background-color: #666666;
 }
 .combo-box-popup .list-view .list-cell
 {
    -fx-background-color: #1d1d1d;
    -fx-text-fill: #1d1d1d;
    -fx-font-family: Oxygen Light;
 }
 .combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: #989fab;
    -fx-text-fill: -fx-text-inner-color;
}
.combo-box-popup .list-view
 {
   -fx-background-color: -fx-box-border, -fx-control-inner-background;
   -fx-background-insets: 0, 1;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
 }
 .combo-box .arrow-button {
    -fx-background-color: #666666;
    -fx-size: 5;
}